* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(188, 200, 212);
}

header {
    background-color: rgb(47, 53, 53);
    padding: 15px;
}

header h1 {
    font-size: 48px;
    color: white;
    text-align: center;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.currentWord {
    font-size: 80px;
    margin-top: 48px;
}

.currentWord p {
    font-size: 30px;
    color: gray;
    margin-top: 20px;
}

#word-input { 
    width: 50%;
    padding: 20px;
    margin: 48px 0 48px;
    font-size: 25px;
}

.score-container {
    font-size: 25px;
}

.instructions-con {
    width: 30%;
    margin: 0 auto;
    margin-top: 48px;
}

.instructions-con h5 {
    text-align: center;
    font-size: 35px;
    color: gray;
}

.instructions-con p{
    text-align: center;
    margin: 10px 0 10px;
    font-size: 25px;
}

#message {
    color: red;
    font-size: 30px;
    margin: 10px;
}

